.summary-total {
	display: flex;
	margin-top: 2em;
	text-align: center;
}

.summary-total > div {
	margin: 0 1rem 0 0;
	min-width: 300px;
	min-height: 200px;
}

.sum-request-statistic {
	width: 100%;
}

.ant-statistic-content {
	font-size: 84px;
}

.card-result-summary {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
}

.header-datatable {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 2em;
}

.header-datatable h1 {
	font-size: 20px;
	margin: 0;
}

.header-datatable .right {
	display: flex;
	justify-content: flex-end;
}

.header-datatable .right > div {
	margin-left: 8px;
	min-height: 30px;
}

.datatable {
	margin-top: 1em;
	border: 1px solid #000;
	min-height: 100px;
}
