.logo {
  margin: 0.3rem 1rem;
}

.logo h1 {
  color: #fff;
}

.user-profile {
  display: flex;
  justify-content: flex-end;
  gap: 0.5em;
  align-items: center;
  margin-right: 3em;
}

.user-profile h4 {
  color: #fff;
  margin: 0;
}
